In [27]:
import numpy as np
import pandas as pd

data=np.array([["John",20,"Male"],["",22,"Female"],["Henry",25,"Male"],["Smith",30,"Male"],["Susan",27,"Female"],["Minendra",19,"Male"]])
print(data)

df=pd.DataFrame(data,columns=['Name','Age','Gender'])

print(df)

[['John' '20' 'Male']
 ['' '22' 'Female']
 ['Henry' '25' 'Male']
 ['Smith' '30' 'Male']
 ['Susan' '27' 'Female']
 ['Minendra' '19' 'Male']]
       Name Age  Gender
0      John  20    Male
1            22  Female
2     Henry  25    Male
3     Smith  30    Male
4     Susan  27  Female
5  Minendra  19    Male

#### Pandas DataFrame comes is a powerful tool that allows us to store and manipulate data in a structured way,

In [28]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [29]:
print(df.head(4))

    Name Age  Gender
0   John  20    Male
1         22  Female
2  Henry  25    Male
3  Smith  30    Male

In [30]:
print(df.head())

    Name Age  Gender
0   John  20    Male
1         22  Female
2  Henry  25    Male
3  Smith  30    Male
4  Susan  27  Female

In [31]:
print(df.tail(2))

       Name Age  Gender
4     Susan  27  Female
5  Minendra  19    Male

In [33]:
print(df.tail())

       Name Age  Gender
1            22  Female
2     Henry  25    Male
3     Smith  30    Male
4     Susan  27  Female
5  Minendra  19    Male

## Difference Between Series and DataFrame in Pandas

In **Pandas**, both `Series` and `DataFrame` are data structures used for data manipulation.

### Series
- A **Series** is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.).
- It is similar to a column in a spreadsheet or a database table.

### DataFrame
- A **DataFrame** is a two-dimensional labeled data structure with columns of potentially different types.
- It is similar to a table in a database or an Excel spreadsheet.

In [35]:
import pandas as pd 
series = pd.Series([10,20,30,40],name="Numbers")
print(series)

print("\nType of Series: ",type(series))

0    10
1    20
2    30
3    40
Name: Numbers, dtype: int64

Type of Series:  <class 'pandas.core.series.Series'>

In [56]:
#Creating data frame
data={
    "Name":["Alice","Bob","Charlie","David"],
    "Age":[25,30,35,40]
}
df=pd.DataFrame(data)
print(df)

print("\nType of Dataframe: ",type(df))

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

Type of Dataframe:  <class 'pandas.core.frame.DataFrame'>

In [37]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [44]:
print(df.index.values)

[0 1 2 3]

In [57]:
df=df.set_index('Name')
print(df)

         Age
Name
Alice     25
Bob       30
Charlie   35
David     40

In [46]:
df.index.values

array(['Alice', 'Bob', 'Charlie', 'David'], dtype=object)

In [47]:
df.index.value_counts

In [ ]:
import pandas as pd 
print("Before reset_index(): ")
print(df)
df.reset_index(inplace=True)

print("\nAfter reset_index() with inplace=True: ")
print(df)

Before reset_index():
         Age
Name
Alice     25
Bob       30
Charlie   35
David     40

After reset_index() with inplace=True:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

In [62]:
#Set custom index 
df.index=['a','b','c','d']
print(df)

      Name  Age
a    Alice   25
b      Bob   30
c  Charlie   35
d    David   40

In [63]:
df.reset_index(drop=True,inplace=True)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

In [64]:
#get index as a list 
index_lst=df.index.tolist()
print(index_lst)

[0, 1, 2, 3]

In [65]:
df["Name"]

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [66]:
df["Age"]

0    25
1    30
2    35
3    40
Name: Age, dtype: int64

In [70]:
type(df[["Name"]])

pandas.core.frame.DataFrame

In [68]:
type(df["Name"])

pandas.core.series.Series

In [71]:
df[["Name"]]

      Name
0    Alice
1      Bob
2  Charlie
3    David

In [72]:
row=df.loc[1]
print(row)

Name    Bob
Age      30
Name: 1, dtype: object

In [74]:
for i in range(3):
    row=df.loc[i]
    print("\n",row)

 Name    Alice
Age        25
Name: 0, dtype: object

 Name    Bob
Age      30
Name: 1, dtype: object

 Name    Charlie
Age          35
Name: 2, dtype: object

In [76]:
rows=df.loc[::1,['Name']]
print(rows)

      Name
0    Alice
1      Bob
2  Charlie
3    David

In [79]:
rows=df.loc[1:2,['Name','Age']]
print(rows)

      Name  Age
1      Bob   30
2  Charlie   35

In [81]:
data=np.array([["John",20,"Male"],["Kim",22,"Female"],["Henry",25,"Male"],["Smith",30,"Male"],["Austin",27,"Male"]])
df=pd.DataFrame(data,columns=['Name','Age','Gender'],index=['A','B','C','D','E'])
print(df)

     Name Age  Gender
A    John  20    Male
B     Kim  22  Female
C   Henry  25    Male
D   Smith  30    Male
E  Austin  27    Male

In [82]:
df.loc["A":"D":2,["Name","Age"]]

    Name Age
A   John  20
C  Henry  25

In [83]:
df.loc[["A","B"]]

   Name Age  Gender
A  John  20    Male
B   Kim  22  Female

In [86]:
#Filtering dataframes
#use | for or conditional

print(df[(df["Age"].astype(int)>22) & (df["Gender"].astype(str)=="Male")])
print(df[(df["Age"].astype(int)>22) | (df["Gender"].astype(str)=="Male")])

     Name Age Gender
C   Henry  25   Male
D   Smith  30   Male
E  Austin  27   Male
     Name Age Gender
A    John  20   Male
C   Henry  25   Male
D   Smith  30   Male
E  Austin  27   Male

In [88]:
#Filtering and setting value 
df.loc[(df["Age"].astype(int)>22)&(df["Gender"].astype(str)=="Male"),"Age"]=35
print(df[df["Age"].astype(int)>22])

     Name Age Gender
C   Henry  35   Male
D   Smith  35   Male
E  Austin  35   Male

In [89]:
dicts={
    'items':["Laptop","Mouse","Book","Pencil"],
    'quantity':[5,10,15,20],
    'unit price':[700,20,10,2]
}
df=pd.DataFrame(dicts)
print(df)

    items  quantity  unit price
0  Laptop         5         700
1   Mouse        10          20
2    Book        15          10
3  Pencil        20           2

In [108]:
dicts2={
    #'items':["Laptop","Mouse","Book","Pencil"],
    'colour':["Green","Blue","Red","Black"],
}
df2=pd.DataFrame(dicts2)
print(df2)

  colour
0  Green
1   Blue
2    Red
3  Black

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   items       4 non-null      object
 1   quantity    4 non-null      int64
 2   unit price  4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [110]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   colour  4 non-null      object
dtypes: object(1)
memory usage: 164.0+ bytes

In [111]:
df.describe()

        quantity  unit price
count   4.000000    4.000000
mean   12.500000  183.000000
std     6.454972  344.745317
min     5.000000    2.000000
25%     8.750000    8.000000
50%    12.500000   15.000000
75%    16.250000  190.000000
max    20.000000  700.000000

In [114]:
frames=[df,df2]
res=pd.concat(frames,axis=1)
print(res)

    items  quantity  unit price colour
0  Laptop         5         700  Green
1   Mouse        10          20   Blue
2    Book        15          10    Red
3  Pencil        20           2  Black

In [115]:
res.duplicated()

0    False
1    False
2    False
3    False
dtype: bool

In [122]:
import pandas as pd

dict_try={
    'items':["Laptop","Mouse","Mouse","Book","Pencil"],
    'quantity':[5,10,10,15,20],
    'unit price':[700,20,20,10,2]
}
df3=pd.DataFrame(dict_try)
print(df3)

    items  quantity  unit price
0  Laptop         5         700
1   Mouse        10          20
2   Mouse        10          20
3    Book        15          10
4  Pencil        20           2

In [123]:
df3.duplicated('items')

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [124]:
df3.drop_duplicates()

    items  quantity  unit price
0  Laptop         5         700
1   Mouse        10          20
3    Book        15          10
4  Pencil        20           2

In [126]:
import kagglehub

df=pd.read_csv("BIKE DETAILS.csv")
print(df)

                                     name  selling_price  year seller_type  \
0               Royal Enfield Classic 350         175000  2019  Individual
1                               Honda Dio          45000  2017  Individual
2     Royal Enfield Classic Gunmetal Grey         150000  2018  Individual
3       Yamaha Fazer FI V 2.0 [2016-2018]          65000  2015  Individual
4                   Yamaha SZ [2013-2014]          20000  2011  Individual
...                                   ...            ...   ...         ...
1056                            Activa 3g          17000  2010  Individual
1057                     Honda CB twister          16000  2012  Individual
1058                   Bajaj Discover 125          15000  2013  Individual
1059                       Honda CB Shine          12000  2009  Individual
1060                     Bajaj Pulsar 150          10000  2008  Individual

          owner  km_driven  ex_showroom_price
0     1st owner        350                NaN
1     1st owner       5650                NaN
2     1st owner      12000           148114.0
3     1st owner      23000            89643.0
4     2nd owner      21000                NaN
...         ...        ...                ...
1056  1st owner     500000            52000.0
1057  1st owner      33000            51000.0
1058  2nd owner      35000            57000.0
1059  1st owner      53000            58000.0
1060  1st owner      92233            75000.0

[1061 rows x 7 columns]

In [127]:
df.head()

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,NaN
1,Honda Dio,45000,2017,Individual,1st owner,5650,NaN
2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0
4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,NaN

In [128]:
df.tail()

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
1056,Activa 3g,17000,2010,Individual,1st owner,500000,52000.0
1057,Honda CB twister,16000,2012,Individual,1st owner,33000,51000.0
1058,Bajaj Discover 125,15000,2013,Individual,2nd owner,35000,57000.0
1059,Honda CB Shine,12000,2009,Individual,1st owner,53000,58000.0
1060,Bajaj Pulsar 150,10000,2008,Individual,1st owner,92233,75000.0

In [130]:
df.shape

(1061, 7)

In [131]:
df.index.values

array([   0,    1,    2, ..., 1058, 1059, 1060], shape=(1061,))

In [132]:
df.index

RangeIndex(start=0, stop=1061, step=1)

In [142]:

df=pd.read_csv("BIKE DETAILS.csv")
df['bike_country'] = 'nepal'
print(df.head(5))

                                  name  selling_price  year seller_type  \
0            Royal Enfield Classic 350         175000  2019  Individual
1                            Honda Dio          45000  2017  Individual
2  Royal Enfield Classic Gunmetal Grey         150000  2018  Individual
3    Yamaha Fazer FI V 2.0 [2016-2018]          65000  2015  Individual
4                Yamaha SZ [2013-2014]          20000  2011  Individual

       owner  km_driven  ex_showroom_price bike_country
0  1st owner        350                NaN        nepal
1  1st owner       5650                NaN        nepal
2  1st owner      12000           148114.0        nepal
3  1st owner      23000            89643.0        nepal
4  2nd owner      21000                NaN        nepal

In [134]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1056    False
1057    False
1058    False
1059    False
1060    False
Length: 1061, dtype: bool

In [136]:
df.head(100)

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,NaN
1,Honda Dio,45000,2017,Individual,1st owner,5650,NaN
2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0
4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,NaN
...,...,...,...,...,...,...,...
95,Honda Activa 4G,45000,2018,Individual,1st owner,25000,53079.0
96,Yamaha FZ25,150000,2019,Individual,1st owner,2500,133680.0
97,Bajaj Pulsar 150,42000,2015,Individual,1st owner,22770,NaN
98,Hero Splendor Plus,30000,2015,Individual,1st owner,30000,NaN
99,Bajaj Discover 100,24999,2012,Individual,2nd owner,35000,42859.0

In [137]:
df.isnull()

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,False,False,False,False,False,False,True
1,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...
1056,False,False,False,False,False,False,False
1057,False,False,False,False,False,False,False
1058,False,False,False,False,False,False,False
1059,False,False,False,False,False,False,False
1060,False,False,False,False,False,False,False

In [138]:
import pandas as pd

pd.set_option('display.max_rows', None)   # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', None)      # Auto-detect width of the terminal
pd.set_option('display.max_colwidth', None)  # Do not truncate column values

print(df)

                                            name  selling_price  year  \
0                      Royal Enfield Classic 350         175000  2019
1                                      Honda Dio          45000  2017
2            Royal Enfield Classic Gunmetal Grey         150000  2018
3              Yamaha Fazer FI V 2.0 [2016-2018]          65000  2015
4                          Yamaha SZ [2013-2014]          20000  2011
5                               Honda CB Twister          18000  2010
6                           Honda CB Hornet 160R          78500  2018
7           Royal Enfield Bullet 350 [2007-2011]         180000  2008
8                         Hero Honda CBZ extreme          30000  2010
9                             Bajaj Discover 125          50000  2016
10                                   Yamaha FZ16          35000  2015
11                                    Honda Navi          28000  2016
12                      Bajaj Avenger Street 220          80000  2018
13                                 Yamaha YZF R3         365000  2019
14                                       Jawa 42         185000  2020
15                 Suzuki Access 125 [2007-2016]          25000  2012
16                            Hero Honda Glamour          25000  2006
17                              Yamaha YZF R15 S          40000  2010
18           Royal Enfield Classic Gunmetal Grey         150000  2018
19                                   Yamaha FZ25         120000  2018
20                          Hero Passion Pro 110          15000  2008
21                        Honda Navi [2016-2017]          26000  2016
22                                Honda Activa i          32000  2013
23                                 Jawa Standard         180000  2019
24                 Royal Enfield Thunderbird 350         110000  2016
25                              Honda Dream Yuga          25000  2012
26                         TVS Apache RTR 160 4V          80000  2018
27                        Honda Navi [2016-2017]          42000  2017
28                      Yamaha Fazer [2009-2016]          40000  2013
29                       Hero Honda Splendor NXG          21000  2009
30                              Hero Glamour 125          55000  2017
31                       Yamaha FZ S [2012-2016]          38000  2013
32                            Hero Xtreme Sports          43000  2016
33                                 Honda X-Blade          65000  2018
34                             Honda CB Shine SP          62000  2019
35                               Honda Activa 5G          60000  2018
36                              Hero Glamour 125          45000  2018
37                                Honda CBR-250R         120000  2016
38                 Hero Honda Passion PRO [2012]          30000  2011
39                 Royal Enfield Thunderbird 350          90000  2015
40                             Bajaj Dominar 400         125000  2017
41                               Hero Glamour FI          50000  2018
42                                  KTM 390 Duke         175000  2017
43                             Hero Passion XPro          28000  2012
44                             Yamaha FZ S V 2.0          85000  2018
45                             Hero Achiever 150          29900  2016
46                            Bajaj Discover 125          25000  2011
47                                   Yamaha FZ16          30000  2009
48                                 Yamaha Saluto          60000  2018
49                                   Yamaha FZ16          35000  2012
50                            Bajaj Discover 100          25000  2010
51                              Honda CB Trigger          30000  2015
52                     Royal Enfield Electra 5 S          90000  2010
53                             Hero Splendor PRO          35000  2015
54                               Honda Activa 5G          70000  2019
55                       Hero Honda Passion Plus          25000  2006
56                              Bajaj Pulsar 150          25000  2010
57                      Royal Enfield Bullet 350          90000  2014
58                            Bajaj Discover 125          25000  2013
59                  Bajaj Pulsar 150 [2001-2011]          42000  2011
60                             Hero Splendor PRO          35000  2015
61                            Hero Xtreme Sports          50000  2014
62                               Honda Activa 3G          30000  2015
63                                   Yamaha FZ16          48000  2016
64                          Honda CB Hornet 160R          65000  2016
65                 Royal Enfield Thunderbird 350          85000  2013
66                                     Hero Hunk          45000  2014
67                                 Suzuki Let''s          34000  2014
68                     Royal Enfield Electra 4 S          90000  2008
69                           TVS Scooty Pep Plus          35000  2012
70                           Mahindra Mojo XT300         165000  2017
71                            TVS Apache RTR 160          35000  2013
72                            Bajaj Pulsar AS200          65000  2015
73                              Bajaj Pulsar 150          29500  2013
74                Royal Enfield Thunderbird 350X         165000  2019
75                           Suzuki Intruder 150          95000  2018
76                 Hero Honda Karizma ZMR [2010]          50000  2010
77                                     Honda Dio           7500  2009
78                                     Bajaj Xcd          25000  2008
79                            Hero Splendor Plus          35000  2014
80                Royal Enfield Thunderbird 350X         160000  2018
81                          Honda CB Unicorn 150          50000  2014
82                               Honda Activa 5G          62000  2019
83                              Honda CB Twister          30000  2013
84                             Hero Splendor PRO          28000  2015
85                          Hero Honda CD Deluxe          25000  2009
86                    Honda Activa i [2016-2017]          30000  2015
87           Royal Enfield Classic Gunmetal Grey         140000  2018
88                           TVS Scooty Zest 110          30000  2017
89                                Hero CD Deluxe          25000  2014
90                 Suzuki Access 125 [2007-2016]          22000  2010
91                      Honda Activa [2000-2015]          22989  2012
92                  Honda Activa 125 [2016-2017]          42000  2016
93                                 Suzuki GS150R          30000  2010
94                             Bajaj Pulsar 220S          55000  2015
95                               Honda Activa 4G          45000  2018
96                                   Yamaha FZ25         150000  2019
97                              Bajaj Pulsar 150          42000  2015
98                            Hero Splendor Plus          30000  2015
99                            Bajaj Discover 100          24999  2012
100               Royal Enfield Thunderbird 350X         160000  2019
101                    Royal Enfield Classic 350         175000  2020
102                             Bajaj Pulsar 150          40000  2013
103                           Bajaj Pulsar NS160          85000  2018
104           Royal Enfield Classic Desert Storm         150000  2017
105                             Suzuki Gixxer SF          80000  2018
106                        TVS Apache RTR 200 4V          95000  2018
107                                    Bajaj V15          42000  2016
108                        TVS XL 100 Heavy Duty          40000  2019
109                            Yamaha FZ S V 2.0          50000  2015
110                               Hero HF Deluxe          40000  2018
111                               Aprilia SR 125          75000  2019
112                                  Yamaha FZ25         120000  2017
113                           Hero Honda Glamour          30000  2008
114                        Bajaj Discover 125 ST          17500  2013
115                      Hero Honda Passion Plus           7500  2004
116                                Honda Aviator          57000  2018
117                                Vespa SXL 149          80000  2018
118                          TVS Scooty Pep Plus          18000  2010
119                      Hero Xtreme [2013-2014]          25000  2013
120                Royal Enfield Thunderbird 350          83900  2014
121                         UM Renegade Commando         160000  2018
122          Royal Enfield Classic Gunmetal Grey         135000  2018
123                         Honda CB Hornet 160R          55000  2017
124                                  Honda Shine          50000  2017
125                           Bajaj Discover 100          20000  2012
126                       Hero Honda CBZ extreme          25000  2010
127                    Royal Enfield Classic 350         125000  2017
128                              Honda Activa 5G          55000  2019
129              Bajaj Avenger Street 150 [2018]          50000  2016
130             Royal Enfield Continental GT 650         299000  2019
131                              Honda Activa 3G          60000  2015
132                              Honda Activa 3G          40000  2015
133                             Bajaj Pulsar 180          15000  2008
134                   Harley-Davidson Street Bob         750000  2013
135                       Hero Honda CBZ extreme          20000  2007
136          Royal Enfield Classic Gunmetal Grey         190000  2020
137                 KTM 390 Duke ABS [2013-2016]         130000  2015
138                         Honda CB Hornet 160R          54786  2016
139                                 KTM 200 Duke          72000  2013
140                            Hero Karizma 2014          35000  2013
141                             Hero Glamour 125          45000  2017
142                    Royal Enfield Classic 350          85000  2013
143                    Royal Enfield Classic 500         100000  2013
144                            Bajaj Dominar 400         138000  2017
145               Royal Enfield Thunderbird 350X         150000  2018
146                                   KTM RC 390         180000  2017
147                Royal Enfield Thunderbird 350         100000  2015
148                                    Hero Hunk          20000  2010
149                                 KTM 390 Duke         170000  2017
150                    Suzuki Gixxer [2014-2018]          60000  2016
151                     Royal Enfield Bullet 350         123000  2016
152                            Suzuki Access 125          60000  2017
153                        TVS Apache RTR 200 4V         100000  2017
154                           Hero Xtreme Sports          22000  2014
155                     Honda Activa [2000-2015]          30000  2014
156                           Bajaj Discover 125          28000  2013
157                             Bajaj Pulsar 150          50000  2007
158                             Yamaha Saluto RX          40000  2017
159                               Hero HF Deluxe          43000  2018
160                            Suzuki Access 125          40000  2015
161           Royal Enfield Classic Desert Storm         100000  2012
162                               Hero HF Deluxe          30000  2016
163                                   KTM RC 200         130000  2017
164                         Honda CB Hornet 160R          48000  2016
165                                 Bajaj CT 100          32000  2017
166                          Hero Honda Pleasure          23000  2010
167                          Bajaj Pulsar 135 LS          20000  2010
168                    Royal Enfield Classic 350         125000  2017
169                       Honda Navi [2016-2017]          23000  2016
170                           Bajaj Discover 125          15000  2011
171                           Yamaha SZ RR V 2.0          35000  2015
172                           Bajaj Discover 150          25000  2014
173                             Bajaj Pulsar 150          80000  2019
174                                    TVS Flame          15000  2010
175                                 Vespa VX 125          45000  2013
176                                  Yamaha SZ X          25000  2012
177                            Honda CBF Stunner          35000  2013
178                         Bajaj Discover 100 T          25000  2013
179                    Royal Enfield Classic 350         170000  2018
180                     Honda Activa [2000-2015]          25000  2014
181                    Royal Enfield Electra 5 S          60000  2007
182                             Bajaj Pulsar 150          41000  2012
183                                  Honda Shine          35000  2012
184                         Honda CB Unicorn 160          75000  2015
185                              Honda Activa 3G          47999  2016
186                                  Honda Shine          36999  2011
187                             Bajaj Pulsar 180          25000  2007
188                             Suzuki Gixxer SF          60000  2016
189                         Honda CB Unicorn 150          50000  2007
190                   Yamaha YZF R15 [2011-2018]          65000  2013
191                                    TVS Sport          12000  2007
192                           Bajaj Pulsar AS200          60000  2015
193                     Honda Activa [2000-2015]          20000  2010
194                                  Yamaha FZ16          27000  2011
195                                  Bajaj Boxer          10000  2000
196                              Hero Honda Hunk          56000  2015
197                              Hero Honda Hunk          58000  2015
198                     Bajaj Avenger Cruise 220          87000  2018
199                                 Yamaha Ray Z          35000  2015
200                             Bajaj Pulsar 180          35000  2012
201                          Bajaj Discover 150F          40000  2014
202                          Bajaj Pulsar 135 LS          56000  2017
203                             Bajaj Pulsar 180          30000  2008
204                 Honda Activa 125 [2016-2017]          40000  2017
205                               Hero HF Deluxe          60000  2019
206                            Hero Karizma 2014          40000  2013
207                            Bajaj Platina 100          40000  2018
208                     Royal Enfield Bullet 500         130000  2015
209                           Bajaj Pulsar AS200          45000  2015
210                      Yamaha FZ S [2012-2016]          42000  2013
211                          Bajaj Pulsar 220 Fi          25000  2012
212                             Bajaj Pulsar 150          15000  2006
213                     Bajaj Dominar 400 [2018]         170000  2018
214               Hero Passion X Pro [2016-2017]          38000  2016
215                            Yamaha FZ S V 2.0          60000  2015
216                           TVS Apache RTR 160          65000  2017
217                         Bajaj Avenger [2015]          35000  2011
218                             Bajaj Pulsar 150          70000  2019
219                           Hero Honda Glamour          15000  2006
220                         Hero Splendor iSmart          50000  2017
221                    Royal Enfield Classic 350         145000  2017
222                                  Yamaha FZ16          25000  2008
223                           Hero Xtreme Sports          58000  2016
224         Royal Enfield Bullet 350 [2007-2011]          90000  2007
225                           Hero Honda Passion           9000  2002
226                          Bajaj Discover 150S          40000  2014
227                          TVS Scooty Zest 110          28000  2015
228              Bajaj Avenger Street 150 [2018]          50000  2016
229                         Yamaha Cygnus Ray ZR          56000  2019
230                     Honda Activa [2000-2015]          35000  2014
231                        TVS Apache RTR 200 4V          95000  2018
232                                  Honda Shine          30000  2010
233                         Honda CB Hornet 160R          95000  2019
234                   Honda Activa i [2016-2017]          40000  2017
235                            Hero Karizma 2014          30000  2014
236                         Bajaj Discover 100 T          18000  2013
237                                Honda Aviator          14000  2008
238                           Hero Splendor Plus          17000  2010
239                Royal Enfield Thunderbird 350         125000  2017
240                                 Bajaj CT 110          20000  2015
241                         Hero Passion PRO i3s          50000  2017
242                                   KTM RC 390         210000  2017
243                            Bajaj Pulsar 220F          70000  2018
244                            Hero Maestro Edge          40000  2017
245                                    Bajaj Xcd          10000  2008
246                             Bajaj Pulsar 150          35000  2010
247                                   TVS Centra          10000  2005
248                              Honda Activa 3G          42000  2015
249                                  Yamaha FZ16          20000  2009
250                            Hero Maestro Edge          25000  2017
251                           Bajaj Discover 125          25000  2016
252               Royal Enfield Thunderbird 350X         145000  2019
253                          Hero Super Splendor          50000  2016
254                          TVS Scooty Pep Plus          30000  2011
255                              Yamaha FZ V 2.0          60000  2014
256                     Hero Honda Splendor Plus          15000  2005
257                               Hero CD Deluxe          15000  2014
258                Hero Honda Passion PRO [2012]          25000  2011
259                           Hero HF Deluxe i3s          54000  2019
260                                    Bajaj Xcd          25000  2007
261                Royal Enfield Interceptor 650         260000  2019
262                               Honda CBR-250R         100000  2014
263                                Bajaj Kristal          15000  2007
264                     Hero Honda Splendor Plus          20000  2006
265                             Honda Dream Yuga          35000  2014
266                            Yamaha FZ S V 2.0          50000  2016
267                              Hero Xpulse 200          90000  2019
268                                    Bajaj V15          40000  2016
269                     Bajaj Avenger Street 220          80000  2016
270                           Bajaj Discover 135          20000  2010
271                         Honda CB Unicorn 150          70000  2017
272                                Vespa SXL 149          98000  2019
273                       Royal Enfield Machismo          75000  2008
274                            Honda CB Shine SP          50000  2016
275                         Honda CB Unicorn 150          40000  2014
276                         Honda CB Unicorn 150          75000  2013
277                         Honda CB Unicorn 150          50000  2013
278                             Bajaj Pulsar 150          60000  2014
279                           TVS Apache RTR 160          50000  2016
280                                    Honda Dio          35000  2014
281                Royal Enfield Thunderbird 350         160000  2018
282                                 Hero Maestro          25000  2015
283                       Hero Honda CBZ extreme          42000  2010